<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>mean up</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit aliquam harum nobis laudantium illo ipsum perferendis cumque molestias debitis perspiciatis repellat, culpa labore accusamus, corporis fugiat adipisci quasi veniam minima.</p>
</body>
</html>